/* sassy scss library
 * _media.scss
 * a library of easy media queries and common viewport widths
 * import using at too of file: 'import media';
 * by Sy Dyat <sytantris.dyat@gmail.com>
 * init: 2014-02-18
 * update: 2016-03-16
 */



/***** VARIABLES *****/
$media-phone-portrait: 320px;
$media-phone-landscape: 480px;
$media-tablet-portrait: 768px;
$media-tablet-landscape: 1024px;
$media-screen-large: 1200px;



/***** MIXINS *****/

/* respond to all media up to and including $max width */
@mixin respond-to-max($max) {
  @media screen and (max-width: $max) { @content; }
}


/* respond to media over $min width */
@mixin respond-to-min($min) {
  @media screen and (min-width: $min + 1px) { @content; }
}


/* respond to media between ($min + 1px) and $max width */
@mixin respond-to-interval($min, $max) {
  @media screen and (min-width: $min + 1px)
                and (max-width: $max) { @content; }
}


/* respond to print media, hide all selectors given as parameters */
@mixin respond-to-print ($hidden...) {
  @media print {
    @each $selector in $hidden {
      #{$selector} { display: none; }
    }
    @content;
  }
}
