// sassy scss library
// by Sy Dyat <sytantris.dyat@gmail.com>
//
// _mixins.scss
// a library of various time-saving mixins for SCSS files
// import using at top of file: 'import mixins';
//
// init: 2014-02-18
// update: 2016-09-29


////// UTILITIES //////

// box-sizing - defaults to border-box //
@mixin border-box ($value: border-box) {
  -webkit-box-sizing: $value; // iOS Safari 3-4, Android 2-3
  -moz-box-sizing: $value;    // Firefox current
  box-sizing: $value;
}


// all browser settings for background-size property //
@mixin background-size ($value) {
  -webkit-background-size: $value; // Android 2.x
  background-size: $value;
}


// change appearance of an element //
@mixin appearance ($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}


// change input/textarea placeholder text colour and any other properties //
@mixin placeholder ($colour) {
  &:-moz-placeholder {
    color: $colour !important;
    @content;
  }
  &::-moz-placeholder {
    color: $colour !important;
    @content;
  }
  &::-ms-input-placeholder {
    color: $colour !important;
    @content;
  }
  &::-webkit-input-placeholder {
    color: $colour;
    @content;
  }
}




////// EFFECTS //////


// transition //
@mixin transition ($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}


// transform //
@mixin transform ($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}


// opacity //
@mixin opacity ($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity);  // < IE8
}
