// sassy scss library
// by Sy Dyat <sytantris.dyat@gmail.com>
//
// _variables.scss
// a template for variables to be used in SCSS files
// import using at top of file: 'import variables';
//
// init: 2014-02-18
// update: 2016-09-29


////// FONTS //////
$Font-Body: sans-serif;
$Font-Header: auto;
$Font-Alt: auto;



////// COLOURS //////

// global //
$Colour-Body-BG: auto;
$Colour-Body-Text: auto;
$Colour-Link: auto;
$Colour-Link-Hover: auto;


// header //
$Colour-Header-BG: auto;
$Colour-Header-Text: auto;
$Colour-Header-Text-Alt: auto;
$Colour-Nav-Link: auto;
$Colour-Nav-Link-Hover: auto;


// sections //
$Colour-Section-BG: auto;
$Colour-Section-Header-Text: auto;
$Colour-Section-Text: auto;
$Colour-Section-Text-Alt: auto;
$Colour-Section-Link: auto;
$Colour-Section-Link-Hover: auto;


// borders & shadow //
$Colour-Border: auto;
$Colour-Text-Shadow: auto;
$Colour-Box-Shadow: auto;


// colour scheme //
$Colour-One: white;
$Colour-Two: white;
$Colour-Three: white;

$Colour-One-Dark: darken($Colour-One, 10%);
$Colour-Two-Dark: darken($Colour-Two, 10%);
$Colour-Three-Dark: darken($Colour-Three, 10%);

$Colour-One-Light: lighten($Colour-One, 10%);
$Colour-Two-Light: lighten($Colour-Two, 10%);
$Colour-Three-Light: lighten($Colour-Three, 10%);
