// sassy scss library
// by Sy Dyat <sytantris.dyat@gmail.com>
//
// base.scss
// a very basic CSS reset
// import using at top of file: @import 'base.scss';
//
// init: 2014-02-18
// update: 2016-09-29

@import 'include';

html, body {
  height: 100%;
  @include border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  @include border-box(inherit);
}

body {
  font: 10px $Font-Body;
}

input, textarea {
  font-family: inherit;
}
